@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Rubik:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.primerFlex {
    display: flex;
    height: 100vh;

}

.p1 {
    background-color: #e8ebe4;
    width: 20%;
}

.usuario_activo {
    display: flex;
    justify-content: space-around;
    border-bottom: .5px solid gray;
    gap: 1.5rem;
    padding: .3rem;
    cursor: pointer;
}

.maria {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.usuario_activo:hover {
    background-color: #a491d2;
    transition: .25s;
}

.iconos_maria {
    padding-top: .8em;
}

button {
    background-color: #A491D2;
    border: none;
    color: white;
    padding: 1em 3.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 1.3em 2em;
    cursor: pointer;
}

button:hover {
    background-color: #828485;
    transition: .25s;
}

.boton {
    border-bottom: .5px solid gray;
}

.contactos {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: .3rem;
    border-bottom: .5px solid gray;
    cursor: pointer;
}

.contactos:hover {
    background-color: #a491d2;
    transition: .25s;
}

.img_contactos {
    width: 3em;
    height: 3em;
    border-radius: 99%;
}

.text_contactos {
    padding-top: .5em;
}

p {
    font-size: .8em;
}

.p2 {
    background-color: rgb(138, 230, 138);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_manos {
    height: 30%;
    width: 20%;
    padding-bottom: 1rem;
}